{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}


    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- hello -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid"><br/>

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">배포 방식</h1>
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Deploy Method</h6>
                        </div>
                        <div class="card-body">

                            <form action="" method="post">
                                {% csrf_token %}
                                <!--radiobutton-->

                                <div>
                                    상태 동기화 요청 (즉시 배포 권한 요청)
                                </div>
                                <br>
                                <div>
                                    <button class="btn btn-primary" name="ROLLINGUPDATE" onclick="return confirm('Rolling Update 배포 권한을 요청 하시겠습니까?');"> ROLLING UPDATE </button>
                                </div>
                                <br>
                                <div>
                                    고급 배포 (변경 이미지 선택 후 배포 요청)
                                </div>
                                <br>
                                <div>
                                    <button class="btn btn-primary" name="BLUEGREEN"> BLUEGREEN </button>
                                    <text> 	&nbsp;	&nbsp;	&nbsp;	&nbsp;     | 	&nbsp;	&nbsp;	&nbsp;	&nbsp;    </text>
                                    <button class="btn btn-primary" name="CANARY"> CANARY </button>
                                </div>
                                <hr/>
                                <a href="{% url 'app_list' %}" class="btn btn-primary" style="float:right; margin-right:15px;">
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">돌아가기</span>
                                </a>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->



{% endblock %}
