{% extends 'base.html' %}
{% block content %}

{% load static %}

    <title>app distribution</title>

</head>
<!-- 수동 스케줄러-->
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- hello -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid"><br/>

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">배포 방식</h1>


                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Deploy Method</h6>
                        </div>
                        <div class="card-body">

                            <form >

                                <!--radiobutton-->


                                <fieldset>
                                    <div class="custom-control custom-checkbox small">
                                        <input type="radio" class="custom-control-input" id="rolling" name="distradio" value="rollingupdate" checked="checked"/>
                                        <label class="custom-control-label" for="rolling">RollingUpdate</label>
                                    </div>
                                    <div class="custom-control custom-checkbox small">
                                        <input type="radio" class="custom-control-input" id="bluegreen" name="distradio" value="bluegreen" />
                                        <label class="custom-control-label" for="bluegreen">BlueGreen</label>
                                    </div>
                                    <div class="custom-control custom-checkbox small" >
                                        <input type="radio" class="custom-control-input" id="canary" name="distradio" value="canary" />
                                        <label class="custom-control-label" for="canary">Canary</label>
                                    </div>
                                </fieldset>


                                <a href="#" class="btn btn-primary" style="float:right; margin-right:15px;">
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">배포</span>
                                </a>

                            </form>






                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->



        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


{% endblock %}
