{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block head %}
    <meta http-equiv="refresh" content="5">
{% endblock head %}

{% block content %}
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- hello -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid"><br/>

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">BlueGreen</h1>
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="float:left; margin-right: 10px;">APP : {{ appdeployrevision.app_name }}</h6>
                            <label style="height: 10px; float:right; margin-right: 10px;">NameSpace [ {{ appdeployrevision.namespace }} ]</label>
                        </div>
                        <div class="card-body">

                            <form method="POST" id='form'>
                                {% csrf_token %}
                                <div class="mb-4 w-25" style="float:left; margin-right:25px;" >
                                    <select id="deployment" name="deployment" class="form-control">
                                        <option selected value="{{ appdeployrevision.deployment }}">{{ appdeployrevision.deployment }}</option>
                                    </select>
                                </div>
                                <div class="mb-4 w-50" style="float:left; margin-right:25px;" >
                                    <select id="container" name="container" class="form-control">
                                        <option selected value="{{ appdeployrevision.container }}">{{ appdeployrevision.container }}</option>
                                    </select>
                                </div>
                                <div class="mb-4" >
                                    <input type="text" class="form-control form-control-user" style="float:left; margin-right:5px; width:150px; text-align:right;" id="version"
                                        placeholder="Version 입력" name="version" value="{{ appdeployrevision.tag }}" readonly>
                                    <br>
                                </div>
                                <hr/>
                                <div>
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead style="text-align: center">
                                            <tr>
                                                <td>
                                                    블루 파드 수
                                                </td>
                                                <td>
                                                    {{ present_replicaset }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    그린 파드 수
                                                </td>
                                                <td>
                                                    {{ chg_replicaset }}
                                                </td>
                                            </tr>
                                    </table>
                                </div>

                                {% if appdeployrevision.step == "START"%}
                                    <button class="btn btn-primary" name="deploy" onclick='openCloseToc();'>신규 버전 배포</button>
                                {% else %}
                                    <button class="btn btn-primary" name="deploy" disabled>신규 버전 배포</button>
                                {% endif %}
                                {% if appdeployrevision.step == "DEPLOY"%}
                                    <button class="btn btn-primary" name="change" onclick='openCloseToc1();'>신규 버전 전환</button>
                                {% else %}
                                    <button class="btn btn-primary" name="change" disabled>신규 버전 전환</button>
                                {% endif %}
                                {% if appdeployrevision.step == "CHANGE"%}
                                    <button class="btn btn-primary" name="apply" onclick='openCloseToc2();'>적용</button>
                                {% else %}
                                    <button class="btn btn-primary" name="apply" disabled>적용</button>
                                {% endif %}
                                <button class="btn btn-primary" name="rollback" onclick='openCloseToc3();'> 롤백 / 신규 버전 배포 취소</button>

                                <a href="{% url 'app_list' %}" class="btn btn-danger" style="float:right;" >
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">나가기</span>
                                </a>
                            </form>
                            
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

<script>
        function openCloseToc() {
            document.getElementById('toc-content').style.display = 'block';
        }
        function openCloseToc1() {
            document.getElementById('toc-content1').style.display = 'block';
        }
        function openCloseToc2() {
            document.getElementById('toc-content2').style.display = 'block';
        }
        function openCloseToc3() {
            document.getElementById('toc-content3').style.display = 'block';
        }
</script>

{% endblock %}
