{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- hello -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid"><br/>

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Canary</h1>
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="float:left; margin-right: 10px;">APP : {{ app_name }}</h6>
                            <label style="height: 10px; float:right; margin-right: 10px;">NameSpace [ {{ namespace }} ]</label>
                        </div>
                        <div class="card-body">

                            <form method="POST" id='form'>
                                {% csrf_token %}
                                <div class="mb-4 w-25" style="float:left; margin-right:25px;" >
                                    <select id="deployment" name="deployment" class="form-control">
                                        <option hidden selected value="" id="nulldeployment">Deployment</option>
                                        {% for deployment in deploy_info %}
                                            <option value="{{ deployment }}">{{ deployment }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-4 w-50" style="float:left; margin-right:25px;" >
                                    <select id="container" name="container" class="form-control">
                                        <option hidden selected value="" id="nullcontainer">Container</option>
                                        {% for container in container_info %}
                                            <option value="{{ container.image }}" parent="{{ container.deploy }}">{{ container.image }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-4" >
                                    <input type="text" class="form-control form-control-user" style="float:left; margin-right:5px; width:150px; text-align:right;" id="version"
                                        placeholder="Version 입력" name="version" value="">
                                    <button class="btn btn-primary" name="target" style="float:right;">저장</button>
                                </div>
                                <div class="mb-4" >
                                    <select id="canary_strategy" name="canary_strategy" class="form-control">
                                        {% for strategy in canary_strategy %}
                                            {% if strategy == "basic" %}
                                                <option selected value="{{ strategy }}" >{{ strategy }} 배포 </option>
                                            {% else %}
                                                <option value="{{ strategy }}" > {{ strategy }} 배포</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <br>
                                <hr/>
                                <a href="{% url 'app_list' %}" class="btn btn-danger" style="float:right;" >
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">나가기</span>
                                </a>
                            </form>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
<script>
    var document = window.document;
    $(document).ready(function(){
        var $deploymentvar=$("#deployment");
        var $containervar=$("#container");
        var $containeroptions=$containervar.find('option');
        $containervar.html($containeroptions.filter('[value=""]'));
        $deploymentvar.on('change',function(){
            $containervar.html($containeroptions.filter('[parent="'+this.value+'"],[value=""]'));
            $('#container option[value=""]').prop('selected', true);
        });
    });
</script>
{% endblock %}