{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- hello -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid"><br/>

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Canary</h1>
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="float:left; margin-right: 10px;">{{appinfo.app_name}}</h6>
                            <label style="height: 10px; float:right; margin-right: 10px;">
                                NAMESPACE : {{appinfo.namespace}}</label>
                        </div>
                        <div class="card-body">


                            <form action="#" method="POST" id='form'>
                                {% csrf_token %}
                                <div class="mb-4 " style="float:left; margin-right:25px;" >
                                    <select id="deployment" name="deployment" class="form-control">
                                        <option hidden selected value="" id="nulldeployment">Deployment</option>
                                        {% for deployment in deploy_info %}
                                            <option value="{{ deployment }}">{{ deployment }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-4 " style="float:left; margin-right:25px;" >
                                    <select id="container" name="container" class="form-control">
                                        <option hidden selected value="" id="nullcontainer">Container</option>
                                        <option value="1" parent="A">1</option>
                                        <option value="2" parent="A">2</option>
                                        <option value="3" parent="B">3</option>
                                        <option value="4" parent="B">4</option>
                                        <option value="5" parent="C">5</option>
                                        <option value="6" parent="C">6</option>
                                    </select>
                                </div>
                                <div class="mb-4 " >
                                    <input type="text" class="form-control form-control-user" style="float:left; margin-right:5px; width:150px; text-align:center;" id="appname"
                                        placeholder="Version 입력" name="appname" value="">
                                    <a href="#" class="btn btn-primary" type="reset" onclick='return chk_form(); self.close();'>
                                        <span class="icon text-white-50">
                                        </span>
                                        <span class="text">적용</span>
                                    </a>
                                </div>
                                <hr/>

                                <!-- 게이지 차는 뷰-->
                                <div id="toc-content" >

                                    <label>1% 배포 진행률</label>
                                    <meter min="0" value="50" max="100"></meter>
                                    <!-- 전체 크기 1을 기준으로 0.8만큼 차지합니다. -->
                                <hr/>
                                </div>
                                <div id="toc-content1" >
                                    <label>10% 배포 진행률</label>
                                    <meter min="1024" max="10240" low="2048" high="8192" value="9216"></meter>
                                    <!-- 전체크기는 1024~10240인데 높다고 설정한 8192보다 현재 값 9216이 더 큽니다. -->
                                <hr/>
                                </div>
                                <div id="toc-content2" >
                                    <label>RollBack 중</label>
                                    <meter value="0.5" optimum="0.8"></meter>
                                    <!-- 전체 1 중에서 현재 0.5를 차지하고 있으며 적정도를 0.8로 설정했습니다. -->
                                <hr/>
                                </div>


                                <a href="#" class="btn btn-primary" style="float:left; margin-right:15px;" type="reset" onclick='openCloseToc();'>
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">1% 배포</span>
                                </a>
                                <a href="#" class="btn btn-primary" style="float:left; margin-right:15px;" type="reset" onclick='openCloseToc1();'>
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">10% 배포</span>
                                </a>
                                <a href="#" class="btn btn-primary" style="float:left; margin-right:15px;" type="reset" onclick='openCloseToc2();'>
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">롤백</span>
                                </a>
                                <a href="{% url 'app_list' %}" class="btn btn-danger" style="float:right;">
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">나가기</span>
                                </a>



                            </form>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <script>
        function openCloseToc() {
            document.getElementById('toc-content').style.display = 'block';
        }
        function openCloseToc1() {
            document.getElementById('toc-content1').style.display = 'block';
        }
        function openCloseToc2() {
            document.getElementById('toc-content2').style.display = 'block';
        }

        var document = window.document;
        $(document).ready(function(){
            var $deploymentvar=$("#deployment");
            var $containervar=$("#container");
            var $containeroptions=$containervar.find('option');
            $containervar.html($containeroptions.filter('[value=""]'));
            $deploymentvar.on('change',function(){
                $containervar.html($containeroptions.filter('[parent="'+this.value+'"],[value=""]'));
                $('#container option[value=""]').prop('selected', true);
            });
        });
    </script>
{% endblock %}