{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- hello -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid"><br/>

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Canary</h1>
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="float:left; margin-right: 10px;">APP 이름 들어갈 자리</h6>
                            <label style="height: 10px; float:right; margin-right: 10px;">Namespace 들어갈 자리</label>
                        </div>
                        <div class="card-body">

                            <form action="#" method="POST" id='form'>
                                {% csrf_token %}

                                <div class="mb-4 " style="float:left; margin-right:25px;" >
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuDeploy" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" style="color: lightslategray; background-color:white; border-color:lightgray; width:175px;">
                                        Deployment 선택
                                    </button>
                                    <div class="dropdown-menu animated--fade-in"
                                        aria-labelledby="dropdownMenuDeploy">
                                            <a class="dropdown-item" href="#" id='aws' name='choice' data-value="aws" onclick='changeBtnAWS()'>AWS</a>
                                            <a class="dropdown-item" href="#" id='gcp' name='choice' data-value="gcp" onclick='changeBtnGCP()'>GCP</a>
                                    </div>
                                </div>

                                <div class="mb-4 " style="float:left; margin-right:25px;" >
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" style="color: lightslategray; background-color:white; border-color:lightgray; width:165px;">
                                        Container 선택
                                    </button>
                                    <div class="dropdown-menu animated--fade-in"
                                        aria-labelledby="dropdownMenuButton1">
                                            <a class="dropdown-item" href="#" id='haha' name='choice1' data-value="haha" onclick='changeBtnHAHA()'>HAHA</a>
                                            <a class="dropdown-item" href="#" id='ha' name='choice1' data-value="ha" onclick='changeBtnHA()'>HA</a>
                                    </div>
                                </div>


                                <div class="mb-4 " >
                                    <input type="text" class="form-control form-control-user" style="float:left; margin-right:5px; width:150px; text-align:center;" id="appname"
                                        placeholder="Version 입력" name="appname" value="">
                                    <a href="#" class="btn btn-primary" type="reset" onclick='return chk_form(); self.close();'>
                                        <span class="icon text-white-50">
                                        </span>
                                        <span class="text">적용</span>
                                    </a>
                                </div>

<!--                                <div class="mb-4" >-->
<!--                                -->
<!--                                    <p style="width: 160px; float:left; margin-right: 10px;">Namespace 생성유무 </p>-->
<!--                                    <fieldset>-->
<!--                                        <div class="custom-control custom-checkbox small" style="float:left; margin-right: 10px;">-->
<!--                                            <input type="checkbox" class="custom-control-input" id="namespacetrue" name="typecheck" />-->
<!--                                            <label class="custom-control-label" for="namespacetrue"></label>-->
<!--                                        </div>-->

<!--                                    </fieldset>-->

<!--                                </div>-->

<!--                                <div class="mb-4" style="float:left; margin-right:15px;">-->

<!--                                    <input type="text" class="form-control form-control-user" style="width:150px;" id="namespace"-->
<!--                                        placeholder="namespace" name="namespace" value="">-->
<!--                                </div>-->

                                
<!--                                <div class="mb-4" >-->
<!--                                    <p style="width: 160px; float:left; margin-right: 10px;">GITHUB 주소 : </p>-->
<!--                                    <input type="text" class="form-control form-control-user" style="width:150px;" id="repourl"-->
<!--                                        placeholder="repoURL" name="repourl" value="">-->
<!--                                </div>-->
<!--                                <div class="mb-4 " >-->
<!--                                    <p style="width: 160px; float:left; margin-right: 10px;">Target Branch : </p>-->
<!--                                    <input type="text" class="form-control form-control-user" style="width:150px;" id="targetrevision"-->
<!--                                        placeholder="targetRevision" name="targetrevision" value="">-->
<!--                                </div>-->
<!--                                -->
<!--                                <div class="mb-4" >-->
<!--                                    <p style="width: 160px; float:left; margin-right: 10px;">GITHUB Manifest Path : </p>-->
<!--                                    <input type="text" class="form-control form-control-user" style="width:150px;" id="targetpath"-->
<!--                                        placeholder="path" name="targetpath" value="">-->
<!--                                </div>-->
                                <hr/>

                                <a href="#" class="btn btn-primary" style="float:left; margin-right:15px;" type="reset" onclick='return chk_form(); self.close();'>
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">1% 배포</span>
                                </a>
                                <a href="#" class="btn btn-primary" style="float:left; margin-right:15px;" type="reset" onclick='return chk_form(); self.close();'>
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">10% 배포</span>
                                </a>
                                <a href="#" class="btn btn-primary" style="float:left; margin-right:15px;" type="reset" onclick='return chk_form(); self.close();'>
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">롤백</span>
                                </a>
                                <a href="{% url 'app_list' %}" class="btn btn-primary" style="float:right;">
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">나가기</span>
                                </a>
                                <a href="#" class="btn btn-primary" style="float:right; margin-right:15px;" onclick="history.go(-1)">
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">돌아가기</span>
                                </a>

                                
                            </form>
                            
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->



    <script>
        function chk_form() {
        if(document.getElementById("appname").value==''){
            alert("Version 정보를 입력해주십시오.");
            return false;
        }

        if(document.getElementById("namespace").value==''){
            alert("Namespace를 입력해주십시오.");
            return false;
        }
        if (document.getElementById("repourl").value=='') {
            alert('GitHub Repository를 입력해주십시오.');
            return false;
        }
        if (document.getElementById("targetrevision").value=='') {
            alert('GitHub Branch를 입력해주십시오.');
            return false;
        }
        if (document.getElementById("targetpath").value=='') {
            alert('GitHub Manifest를 입력해주십시오.');
            return false;
        }
        document.getElementById('form').submit();
        }
    </script>
    <script>
        function changeBtnAWS() {
            const btnElement = document.getElementById('dropdownMenuDeploy');
            const clustername = document.getElementById('aws').getAttribute('data-value');
            btnElement.innerText = clustername;
        }
        function changeBtnGCP() {
            const btnElement = document.getElementById('dropdownMenuDeploy');
            const clustername = document.getElementById('gcp').getAttribute('data-value');
            btnElement.innerText = clustername;
        }
        function changeBtnHAHA() {
            const btnElement = document.getElementById('dropdownMenuButton1');
            const clustername = document.getElementById('haha').getAttribute('data-value');
            btnElement.innerText = clustername;
        }
        function changeBtnHA() {
            const btnElement = document.getElementById('dropdownMenuButton1');
            const clustername = document.getElementById('ha').getAttribute('data-value');
            btnElement.innerText = clustername;
        }
    </script>



{% endblock %}
