{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load app_extras %}
{% block head %}
    <meta http-equiv="refresh" content="5">
{% endblock head %}
{% block content %}

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- hello -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid"><br/>

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Canary</h1>
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="float:left; margin-right: 10px;">APP : {{ appdeployrevision.app_name }}</h6>
                            <label style="height: 10px; float:right; margin-right: 10px;">NameSpace [ {{ appdeployrevision.namespace }} ]</label>
                        </div>
                        <div class="card-body">


                            <form action="#" method="POST" id='form'>
                                {% csrf_token %}
                                <div class="mb-4 w-25" style="float:left; margin-right:25px;" >
                                    <select id="deployment" name="deployment" class="form-control">
                                        <option selected value="{{ appdeployrevision.deployment }}">{{ appdeployrevision.deployment }}</option>
                                    </select>
                                </div>
                                <div class="mb-4 w-50" style="float:left; margin-right:25px;" >
                                    <select id="container" name="container" class="form-control">
                                        <option selected value="{{ appdeployrevision.container }}">{{ appdeployrevision.container }}</option>
                                    </select>
                                </div>
                                <div class="mb-4" >
                                    <input type="text" class="form-control form-control-user" style="float:left; margin-right:5px; width:150px; text-align:right;" id="version"
                                        placeholder="Version 입력" name="version" value="{{ appdeployrevision.tag }}"readonly>
                                    <br>
                                </div>
                                <hr/>
                                <div>
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead style="text-align: center">
                                            <tr>
                                                <td>
                                                    기존 파드 수
                                                </td>
                                                <td>
                                                    {{ present_replicaset }}
                                                </td>
                                                <td rowspan="2" style=" text-align:center;  font-size: large;">{{ chg_replicaset|calc_percent:present_replicaset }} % </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    신규 파드 수
                                                </td>
                                                <td>
                                                    {{ chg_replicaset }}
                                                </td>
                                            </tr>
                                    </table>
                                </div>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead style="text-align: center">
                                        <tr>
                                            <th> 단계 </th>
                                            <th> 비율 </th>
                                            <th> Delay Time</th>
                                            <th> 변경 실제 비율 </th>
                                            <th> 기존 파드 수 </th>
                                            <th> 신규 파드 수 </th>
                                            <th> 승인 여부</th>
                                        </tr>
                                    </thead>
                                    <tbody style="text-align: center">
                                            {% for canarydeploy in canarydeployhistory %}
                                                <tr>
                                                    <td>{{ canarydeploy.step }}</td>
                                                    <td>{{ canarydeploy.Percentage }} %</td>
                                                    {% if canarydeploy.Percentage == "100" %}
                                                        <td> 완료 </td>
                                                    {% elif canarydeploy.timewait == 0 %}
                                                        <td> 승인 후 진행 </td>
                                                    {% else %}
                                                        <td> {{ canarydeploy.timewait }} 초</td>
                                                    {% endif %}
                                                    <td>{{ canarydeploy.new_replicaset|calc_percent:canarydeploy.pre_replicaset }} %</td>
                                                    <td>{{ canarydeploy.pre_replicaset }}</td>
                                                    <td>{{ canarydeploy.new_replicaset }}</td>
                                                    {% if appdeployrevision.step == "ROLLBACK" %}
                                                        <td><button class="btn btn-primary" name="complete" disabled> ROLLBACK </button></td>
                                                    {% elif canarydeploy.complete_yn == "W" %}
                                                        <td><button class="btn btn-primary" name="promote"> 승  인 </button></td>
                                                    {% elif canarydeploy.complete_yn == "D" %}
                                                        <td><button class="btn btn-primary" name="deploy"> 배 포 </button></td>
                                                    {% elif canarydeploy.complete_yn == "N" %}
                                                        <td><button class="btn btn-primary" name="" disabled> 대  기 </button></td>
                                                    {% elif canarydeploy.complete_yn == "S" %}
                                                        <td><button class="btn btn-primary" name="" disabled> Auto 대기 </button></td>
                                                    {% elif canarydeploy.complete_yn == "Y" %}
                                                        <td><button class="btn btn-success" name="" disabled> 완 료 </button></td>
                                                    {% elif canarydeploy.complete_yn == "C" %}
                                                        <td><button class="btn btn-primary" name="complete" disabled> 확 정 </button></td>
                                                    {% elif canarydeploy.complete_yn == "R" %}
                                                        <td><button class="btn btn-primary" name="complete" disabled> ROLLBACK </button></td>
                                                    {% else %}
                                                        <td> <button class="btn btn-secondary" name="" disabled>AUTO</button> </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                    </tbody>
                                </table>
                                <button class="btn btn-primary" name="rollback">롤백</button>
                                {% if appdeployrevision.step == "CANARY" %}
                                    <button class="btn btn-primary" name="done">버전 확정</button>
                                {% else %}
                                    <button class="btn btn-primary" name="" disabled>버전 확정</button>
                                {% endif %}
{#                                <a href="#" class="btn btn-primary" style="float:left; margin-right:15px;" type="reset" onclick='openCloseToc();'>#}
{#                                    <button class="btn btn-primary" name="deploy">신규 버전 배포</button>#}
{#                                    <span class="icon text-white-50">#}
{#                                    </span>#}
{#                                    <span class="text">배포</span>#}
{#                                </a>#}
{#                                <a href="#" class="btn btn-primary" style="float:left; margin-right:15px;" type="reset" onclick='openCloseToc1();'>#}
{#                                    <span class="icon text-white-50">#}
{#                                    </span>#}
{#                                    <span class="text">롤백</span>#}
{#                                </a>#}
{#                                <a href="#" class="btn btn-primary" style="float:left; margin-right:15px;" type="reset" onclick='openCloseToc2();'>#}
{#                                    <span class="icon text-white-50">#}
{#                                    </span>#}
{#                                    <span class="text">확정</span>#}
{#                                </a>#}
                                <a href="{% url 'app_list' %}" class="btn btn-danger" style="float:right;">
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">나가기</span>
                                </a>



                            </form>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->



    <script>
        function chk_form() {
        if(document.getElementById("appname").value==''){
            alert("Version 정보를 입력해주십시오.");
            return false;
        }

        if(document.getElementById("namespace").value==''){
            alert("Namespace를 입력해주십시오.");
            return false;
        }
        if (document.getElementById("repourl").value=='') {
            alert('GitHub Repository를 입력해주십시오.');
            return false;
        }
        if (document.getElementById("targetrevision").value=='') {
            alert('GitHub Branch를 입력해주십시오.');
            return false;
        }
        if (document.getElementById("targetpath").value=='') {
            alert('GitHub Manifest를 입력해주십시오.');
            return false;
        }
        document.getElementById('form').submit();
        }
    </script>
    <script>
        function changeBtnAWS() {
            const btnElement = document.getElementById('dropdownMenuDeploy');
            const clustername = document.getElementById('aws').getAttribute('data-value');
            btnElement.innerText = clustername;
        }
        function changeBtnGCP() {
            const btnElement = document.getElementById('dropdownMenuDeploy');
            const clustername = document.getElementById('gcp').getAttribute('data-value');
            btnElement.innerText = clustername;
        }
        function changeBtnHAHA() {
            const btnElement = document.getElementById('dropdownMenuButton1');
            const clustername = document.getElementById('haha').getAttribute('data-value');
            btnElement.innerText = clustername;
        }
        function changeBtnHA() {
            const btnElement = document.getElementById('dropdownMenuButton1');
            const clustername = document.getElementById('ha').getAttribute('data-value');
            btnElement.innerText = clustername;
        }
    </script>


    <script>
        function openCloseToc() {
            document.getElementById('toc-content').style.display = 'block';
        }
        function openCloseToc1() {
            document.getElementById('toc-content1').style.display = 'block';
        }
        function openCloseToc2() {
            document.getElementById('toc-content2').style.display = 'block';
        }
    </script>
{% endblock %}