{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cluster List</h6>
        </div>
        <div class="card-body">
            <br/><br/>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width: 130px;">클러스터 이름</th>
                            <th style="width: 130px;">클러스터 타입</th>
                            <th>토큰 값</th>
                            <th>kubeconfig</th>
                            <th>클러스터 URL</th>
                            <th style="width: 130px;">생성자</th>
                            <th>생성 시간</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for cluster in cluster_list %}
                        <tr>
                            <td >{{ cluster.cluster_name }}</td>
                            <td >{{ cluster.cluster_type }}</td>
                            <td >{{ cluster.bearer_token }}</td>
                            <td >{{ cluster.kubeconfig }}</td>
                            <td >{{ cluster.cluster_url }}</td>
                            <td >{{ cluster.user_id }}</td>
                            <td >{{ cluster.insert_date }}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}