{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}

{% load static %}

    <title>Tables</title>

</head>
<!-- 수동 스케줄러-->
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- hello -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">


                <br/>
<div class="my-2">
                                <a href="{% url 'app_list' %}" class="btn btn-primary" style="float:right; margin-right:35px;">
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">돌아가기</span>
                                </a>
                            </div>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">APP 배포 이력</h1>


                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">APP History</h6>
                        </div>
                        <div class="card-body">

                            <div class="my-2"></div>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>배포 앱</th>
                                            <th>배포 클러스터</th>
                                            <th>배포 방식</th>
                                            <th>배포 단계</th>
                                            <th>변경 이미지</th>
                                            <th>변경 버전</th>
                                            <th>최초 배포 담당자</th>
                                            <th>최초 배포 시간</th>
                                            <th>마지막 배포 담당자</th>
                                            <th>마지막 배포 시간</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for history in deploy_history %}
                                        <tr>
                                            <td>{{ history.app_name }}</td>
                                            <td>{{ history.cluster_name }}</td>
                                            <td>{{ history.deploy_type }}</td>
                                            <td>{{ history.step }}</td>
                                            <td>{{ history.container }}</td>
                                            <td>{{ history.tag }}</td>
                                            <td>{{ history.insert_user }}</td>
                                            <td>{{ history.insert_at }}</td>
                                            <td>{{ history.update_user }}</td>
                                            <td>{{ history.update_at }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>



{% endblock %}