
{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block head %}
    <!— Popperjs —>
    <script src="{% static 'js/cdn.js' %}"
          crossorigin="anonymous"></script>
    <!— Tempus Dominus JavaScript —>
    <script src="{% static 'js/date.js' %}"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          rel="stylesheet">
    <!— Tempus Dominus Styles —>
    <link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css"
          rel="stylesheet" crossorigin="anonymous">


{% endblock head %}
{% block content %}

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- hello -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid"><br/>

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Schedule job</h1>


                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="float:left; margin-right: 10px;">APP : {{ app_name }}</h6>
                            <label style="height: 10px; float:right; margin-right: 10px;">NameSpace [ {{ namespace }} ]</label>
                        </div>
                        <div class="card-body">

                            <form action="" method="POST" id='form'>
                                {% csrf_token %}

                                <h5 class="m-2 font-weight-bold text-primary" style="float:left;">날짜/시간 선택 : </h5>
                                <div class='input-group' id='datetimepicker1' data-td-target-input='nearest' data-td-target-toggle='nearest' style="width:300px;" >
                                   <input id='datetimepicker1Input' type="datetime" class='form-control' data-td-target='#datetimepicker1' name="schedule_dt" value='{{ schedule_dt }}' />
                                   <span class='input-group-text' data-td-target='#datetimepicker1' data-td-toggle='datetimepicker' >
                                     <span class='fa-solid fa-calendar' onclick="str_to_date();"></span>
                                   </span>
                                </div>
                                    <script type="text/javascript">

                                        $('.fa-solid').datetimepicker({
                                            format: "DD-MM-YYYY HH:mm:ss"
                                        });

                                    </script>
                                <hr style="position: relative; top: 5px;"/>
<!--                                <h5 class="m-2 font-weight-bold text-primary">배포방식 선택 : </h5>-->
<!--                                <div style="margin-left:10px; position: relative; top: 7px;">{{ form.deploy_type }}</div>-->
                                <h5 class="m-2 font-weight-bold text-primary" style="float:left; ">배포방식 선택 : </h5>
                                <div style="margin-left:160px; position: relative; top: 7px;" value="{{ deploy_type }}">{{ form.deploy_type }}</div>


                                <hr />

                                <a href="{% url 'app_list' %}" class="btn btn-danger" style="float:right;" >
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">나가기</span>
                                </a>
                                <button class="btn btn-primary" style="float:right; margin-right: 15px;" type="submit" >
                                    <span class="text">저장</span>
                                </button>

                            </form>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


<script>
new tempusDominus.TempusDominus(document.getElementById('datetimepicker1'), {
    display: {
        components: {
            seconds: false,
            useTwentyfourHour: false,
        },
        icons: {
            type: 'icons',
            time: 'fa fa-solid fa-clock',
            date: 'fa fa-solid fa-calendar',
            up: 'fa fa-solid fa-arrow-up',
            down: 'fa fa-solid fa-arrow-down',
            previous: 'fa fa-solid fa-chevron-left',
            next: 'fa fa-solid fa-chevron-right',
            today: 'fa fa-solid fa-calendar-check',
            clear: 'fa fa-solid fa-trash',
            close: 'fas fa-solid fa-xmark'
        },
    },
});

</script>


<script>
function str_to_date() {
    var test = document.getElementById("datetimepicker1Input").value;
    var test_str;
    var test_date;
    var test_slice;
    var test_join;
    var test_list;
    var test_list2;
    var hour;
    console.log(test);

    if (test.indexOf('오후') == -1) {
        test_str = test.replace('오전','');
        test_date = test_str.replace('. ','-');
        test_date = test_date.replace('. ','-');
        test_slice = test_date.replace('. ','');
        test_join = [test_slice,'00'].join(':');
        if (test_join.length < 19){
            test_list = test_join.split(' ');
            test_join = test_list.join(' 0');
        }
    }
    else {
        test_str = test.replace('오후','');
        test_date = test_str.replace('. ','-');
        test_date = test_date.replace('. ','-');
        test_slice = test_date.replace('. ','');
        test_join = [test_slice,'00'].join(':');
        index1 = test_join.indexOf(' ');
        if (test_join.length < 19) {
            hour = parseInt(test_join.slice(index1+1, index1+2));
            hour += 12;
            test_list = test_join.slice(0, index1+1);
            test_list2 = test_join.slice(index1+2);
            test_join = test_list + String(hour) + test_list2;
        }
        else {
            hour = parseInt(test_join.slice(index1+1, index1+3));
            hour += 12;
            test_list = test_join.slice(0, index1+1);
            test_list2 = test_join.slice(index1+3);
            test_join = test_list + String(hour) + test_list2;
        }
    }
    console.log(test_join);
    test = test_join;
}
</script>

{% endblock %}
