
{% extends 'base.html' %}
{% block content %}

    <title>SB Admin 2 - Register</title>


</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">

                    <div class="col-lg-7" style="margin: 0 auto;">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">회원가입</h1>
                            </div>
                            <form method="post" action="{% url 'accounts:signup' %}">
                                {% csrf_token %}
                                {% include "form_errors.html" %}
                                <div class="form-group row">
                                    <label class="h4 text-gray-900 mb-4" style="margin-left:120px;">ID  </label>
                                    <div class="col-sm-8  mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="username" name="username"
                                            placeholder="user ID" value="{{ form.username.value|default_if_none:'' }} " style="float:right;">
                                    </div>


                                </div>

                                <div class="form-group row">
                                    <label class="h4 text-gray-900 mb-4" style="margin-left:40px;">Password  </label>
                                    <div class="col-sm-8 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" id="password1" name="password1"
                                            placeholder="Password" value="{{ form.password1.value|default_if_none:'' }}" style="float:right;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                        <label class="h4 text-gray-900 mb-4" style="margin-left:40px;"> Password  </label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control form-control-user" id="password2" name="password2"
                                            placeholder="Repeat Password" value="{{ form.password2.value|default_if_none:'' }}" style="float:right;">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="h4 text-gray-900 mb-4" style="margin-left:80px;"> group </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-user" id="group" name="group"
                                            placeholder="group지정" value="{{ form.group.value|default_if_none:'' }}" style="float:right;">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="h4 text-gray-900 mb-4" style="margin-left:50px;"> privilege </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-user" id="privilege" name="privilege"
                                            placeholder="privilege" value="{{ form.group.value|default_if_none:'' }}" style="float:right;">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" href="{% url 'accounts:login' %}" style="float:right;" >유저 생성</button>
                            </form>
                                <br/><br/>
                                <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'accounts:login' %}">이미 계정이 있나요? 로그인 하세요!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}