{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Deploy App List</h6>
        </div>
        <div class="card-body">
            <br/><br/>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Appname</th>
                            <th>Cluster</th>
                            <th>Namespace</th>

                            <th style="width: 100px;">APP 삭제</th>
                            <th style="width: 100px;">APP 배포</th>
                            <th style="width: 145px;">배포 이력</th>
                            <th style="width: 145px;">스케줄 관리</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for app_info in appinfo_list %}
                        <tr>
                            <td >{{ app_info.app_name }}</td>
                            <td >{{ app_info.cluster_name }}</td>
                            <td >{{ app_info.namespace }}</td>

                            <td>
                                <a href="{% url 'delete_app' app_info.app_name %}" class="btn btn-danger" style="float:right; margin-right:15px;">
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">삭제</span>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'appinfo_deploy' app_info.app_name %}" class="btn btn-primary" style="float:right; margin-right:15px;">
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">배포</span>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'app_deploy_history' app_info.app_name %}" class="btn btn-primary" style="float:right; margin-right:15px;">
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">배포 이력</span>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'schedule_list' app_info.app_name %}" class="btn btn-primary" style="float:right; margin-right:15px;">
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">스케줄러</span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}